@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container">
        <div class="row pt-1 pb-1 text-center ">
            <h1 class="display-3">Welcome to LibraryCataloger</h1>  
        </div>
    </div>
    <div class="container">
        <div class="row pt-1 pb-1 text-center position-absolute top-50 start-50 translate-middle">
            <h3>To get started:</h3>
            <div class="d-grid gap-2 col-6 mx-auto" text-end>
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary" type="button">
            <i class="bi bi-plus-circle"></i> Add New Book
            </a>
            </div>
            <p>
            <h3>To View Existing Books:</h3>
            <p>
                <div class="d-grid gap-2 col-6 mx-auto" text-end>
            <a asp-controller="Library" asp-action="Index" class="btn btn-primary" type="button">
            <i class="bi bi-plus-circle"></i> View Your Library
            </a>
            <a asp-controller="ToBeReadList" asp-action="Index" class="btn btn-primary" type="button">
            <i class="bi bi-plus-circle"></i> View Your To Be Read List
            </a>
                </div>
        </div>
    </div>
    

</body>