@model BookEntity

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Book</h2>
			<hr />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Title" class="p-0"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Author" class="p-0"></label>
			<input asp-for="Author" class="form-control" />
			<span asp-validation-for="Author" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Isbn" class="p-0"></label>
			<input asp-for="Isbn" class="form-control" />
		</div>
		<div class="form-check ps-0">
			<input asp-for="ToBeReadList" type="checkbox" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">Add to To Be Read List</label>
		</div>
		<div class="form-check ps-0 mb-4">
			<input asp-for="InLibrary" type="checkbox" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">Add book to Library</label>
		</div>
		<div class="row">
			<div class="col-6 col-md-6">
				<button type="submit" class="btn btn-primary form-control">Submit</button>
			</div>
			<div class="col-6 col-md-6">
				<a asp-controller="ToBeReadList" asp-action="Index" class="btn btn-outline-secondary form-control">
					Back to To Be Read List
				</a>
			</div>
		</div>
		</>
	</div>
</form>
